<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/result" method="POST">
        <p>Name <input type='text' id='name' name='name' /></p>
        <p>Student Number <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        
        <p>Gender</p>
        <p><input type="radio" id="Male" name="Gender" value="Male" /> Male
            <input type="radio" id="Female" name="Gender" value="Female" /> Female</p>
        
        <p>Major <input type='text' id='Major' name='Major' /></p>
                
        
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>